.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding: 6rem; */
  min-height: 100vh;
  flex: 1;
  background-color: white;
}
.test_style {
  background-color: gold;
}
.amiri_font {
  font-family: var(--amiri-font);
}

.roboto_font {
  font-family: var(--roboto-font);
}
